{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}


<div class="container my-4">
    <h1 class = "text-center" >List of Products </h1>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description }}</td>                        
                        
                        <td>
                        
                            <a href="{{ path('edit_product', {'id': product.id}) }}" class="btn btn-warning">Edit</a>
                            <a href="{{ path('delete_product', {'id': product.id}) }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

</div>
{% endblock %}
{# {{ path('product_show', {'id': product.id}) }} #}

{# {{ path('product_delete', {'id': product.id}) }} #}
